compatible = "zmk,combos";

// Shorthand combo syntax copied from https://github.com/kkga/zmk-config/blob/master/config/combos.dtsi
#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
combo_##NAME { \
    timeout-ms = <COMBO_TIMEOUT>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>; \
};

// These make the keyboard more accessible for one-handed use and to avoid the need to hold layer keys for very long
COMBO(left_esc,             &kp ESCAPE,                 LT1 LT2 LT3,       DEF NAV MOU)
COMBO(left_tab,             &kp TAB,                    LT1 LT3,           DEF MOU)
COMBO(left_enter,           &hrml LA(LS(LGUI)) ENTER,   LM1 LM2 LM3,       DEF MOU)
COMBO(left_backspace,       &hrml LA(LGUI) BSPC,        LM1 LM3,           DEF MOU)

COMBO(right_esc,            &kp ESCAPE,                 RT1 RT2 RT3,       DEF NUM MOU)
COMBO(right_tab,            &kp TAB,                    RT1 RT3,           DEF NUM MOU)
COMBO(right_enter,          &hrmr RA(LS(RGUI)) ENTER,   RM1 RM2 RM3,       DEF NUM)
COMBO(right_backspace,      &hrmr LA(LGUI) BSPC,        RM1 RM3,           DEF NUM)

COMBO(tog_caps_word,        &caps_word,                 LM2 RM2,           DEF)
COMBO(num_word,             &num_word NUM,              RM2 RIT,           DEF NUM)
COMBO(num_word_l,           &num_word NUM_L,            LM2 LIT,           DEF NUM_L)
COMBO(mouse_on_thumbs,      &lc MOU,                    LIT LHT,           DEF)

COMBO(nav_lock,             &tog NAV,                   RIT RHT,           NAV)
COMBO(num_lock,             &tog NUM,                   RIT RHT,           NUM)
COMBO(num_l_lock,           &tog NUM_L,                 RIT RHT,           NUM_L)
COMBO(mou_lock,             &tog MOU,                   RIT RHT,           MOU)

COMBO(space_for_nav,        &kp SPC,                    LB1 LB2 LB3,       DEF NAV MOU)

COMBO(play_mute_next_prev,  &playnp,                    RB2 RB3,           NAV)

COMBO(sys_connect_to_bt0,   &bt BT_SEL 0,               LT3 LT4,           FUN)
COMBO(sys_connect_to_bt1,   &bt BT_SEL 1,               LM3 LM4,           FUN)
COMBO(sys_connect_to_bt2,   &bt BT_SEL 2,               LB3 LB4,           FUN)
COMBO(sys_bootloader,       &bootloader,                LB0 LB1,           FUN)
COMBO(sys_clear_br_profile, &bt BT_CLR,                 RB3 RB4,           FUN)
COMBO(force_ble_over_usb,   &out OUT_BLE,               LT1 LT2 LT3 LT4,   FUN)

COMBO(power,                &kp C_POWER,                RT1 RT2 RT3 RT4,   DEF)

COMBO(toggle_aoe_layer,     &tog AOE,                   LB1 LB2 LB3 LB4,   DEF AOE)
COMBO(aoe_left_esc,         &kp ESCAPE,                 LT1 LT2 LT3,       AOE)
COMBO(aoe_left_tab,         &kp TAB,                    LT1 LT3,           AOE)
COMBO(aoe_left_enter,       &hrml LA(LS(LCTRL)) ENTER,  LM1 LM2 LM3,       AOE)
COMBO(aoe_left_backspace,   &hrml LA(LCTRL) BSPC,       LM1 LM3,           AOE)
COMBO(aoe_right_esc,        &kp ESCAPE,                 RT1 RT2 RT3,       AOE)
COMBO(aoe_right_tab,        &kp TAB,                    RT1 RT3,           AOE)
COMBO(aoe_right_enter,      &hrmr RA(LS(RCTRL)) ENTER,  RM1 RM2 RM3,       AOE)
COMBO(aoe_right_backspace,  &hrmr LA(LCTRL) BSPC,       RM1 RM3,           AOE)
