compatible = "zmk,combos";

// Shorthand combo synthax copied from https://github.com/kkga/zmk-config/blob/master/config/combos.dtsi
#define COMBO(NAME,         BINDINGS,                   KEYPOS,         LAYERS,    TERM) \
combo_##NAME { \
    timeout-ms = <TERM>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    require-prior-idle-ms = <COMBO_REQUIRE_PRIOR_IDLE>; \
};

// These make the keyboard more accessible for one-handed use and to avoid the need to hold layer keys for very long
COMBO(left_esc,             &kp ESCAPE,                 LT1 LT2 LT3,      DEF     NAV         MOU,      SHORT_COMBO_TIMEOUT) // ESC is the only combo that moves to NAV since there's no ESC key there
COMBO(left_tab,             &kp TAB,                    LT1     LT3,      DEF                 MOU,      SHORT_COMBO_TIMEOUT) // MOU gets this since its TAB key position untoggles the layer
COMBO(left_enter,           &hrml LA(LS(LGUI)) ENTER,   LM1 LM2 LM3,      DEF                 MOU,      SHORT_COMBO_TIMEOUT) // MOU gets this since there's no ENTER key assigned in the left hand
COMBO(left_backspace,       &hrml LA(LGUI) BSPC,        LM1     LM3,      DEF                 MOU,      SHORT_COMBO_TIMEOUT) // MOU gets this since there's no BSPC key assigned in the left hand

COMBO(right_esc,            &kp ESCAPE,                 RT1 RT2 RT3,      DEF NUM             MOU,      SHORT_COMBO_TIMEOUT) // NUM also gets these to make it possible to use with only the right hand
COMBO(right_tab,            &kp TAB,                    RT1     RT3,      DEF NUM             MOU,      SHORT_COMBO_TIMEOUT) // Having ESC and TAB in MOU is also a good thing for one-handed use
COMBO(right_enter,          &hrmr RA(LS(RGUI)) ENTER,   RM1 RM2 RM3,      DEF NUM                ,      SHORT_COMBO_TIMEOUT) // These are already available in MOU through specific keys
COMBO(right_backspace,      &hrmr LA(LGUI) BSPC,        RM1     RM3,      DEF NUM                ,      SHORT_COMBO_TIMEOUT)

// Layer toggles and system functionality
COMBO(tog_caps_word,        &caps_word,                 LM2 RM2,          DEF,                          SHORT_COMBO_TIMEOUT) // home shift positions
COMBO(tc_num,               &num_word NUM,              RM2 RIT,          DEF NUM,                      SHORT_COMBO_TIMEOUT) // deactivates on SPACE or other keycodes that are not on the continue-list
COMBO(sl_sym_left,          &sl SYM,                    LB4 LIT,          DEF         SYM,              SHORT_COMBO_TIMEOUT) // uses a sticky layer to make possible to type symbols with one hand
COMBO(sl_sym_right,         &sl SYM,                    RB0 RIT,          DEF         SYM,              SHORT_COMBO_TIMEOUT) // uses a sticky layer to make possible to type symbols with one hand

// NUM-only combos vertical combos
COMBO(num_dollar,           &reais,                     RM0 RT0,          NUM,                          SHORT_COMBO_TIMEOUT) // (
COMBO(num_percent,          &kp PRCNT,                  RM0 RB0,          NUM,                          SHORT_COMBO_TIMEOUT) // [
COMBO(num_open_par,         &kp LPAR,                   RM1 RT1,          NUM,                          SHORT_COMBO_TIMEOUT) // (
COMBO(num_open_brc,         &kp LBKT,                   RM1 RB1,          NUM,                          SHORT_COMBO_TIMEOUT) // [
COMBO(num_equal,            &kp EQUAL,                  RT2 RM2,          NUM,                          SHORT_COMBO_TIMEOUT) // =
COMBO(num_colon,            &kp COLON,                  RM2 RB2,          NUM,                          SHORT_COMBO_TIMEOUT) // :
COMBO(num_close_par,        &kp RPAR,                   RM3 RT3,          NUM,                          SHORT_COMBO_TIMEOUT) // )
COMBO(num_close_brc,        &kp RBKT,                   RM3 RB3,          NUM,                          SHORT_COMBO_TIMEOUT) // ]
COMBO(num_ord_a_o,          &mt LA(N9) LA(N0),          RM4 RT4,          NUM,                          SHORT_COMBO_TIMEOUT) // )
COMBO(num_paragraph,        &kp LA(N6),                 RM4 RB4,          NUM,                          SHORT_COMBO_TIMEOUT) // ]
COMBO(num_space,            &kp SPACE,                  RHT RIT,          NUM,                          SHORT_COMBO_TIMEOUT) // SPACE for NUM

// SYS combos to connect to BT devices from FUN layer
COMBO(sys_connect_to_bt0,   &bt BT_SEL 0,               LT3 LT4,                          FUN,          SHORT_COMBO_TIMEOUT) // Currently paired to MacBook
COMBO(sys_connect_to_bt1,   &bt BT_SEL 1,               LM3 LM4,                          FUN,          SHORT_COMBO_TIMEOUT) // Currently paired to iPad
COMBO(sys_connect_to_bt2,   &bt BT_SEL 2,               LB3 LB4,                          FUN,          SHORT_COMBO_TIMEOUT) // Open to connect to any other device
COMBO(sys_bootloader,       &bootloader,                LB0 LB1,                          FUN,          SHORT_COMBO_TIMEOUT) // Hard resets the left half only (see https://zmk.dev/docs/keymaps/combos#advanced-usage on why there's no way to combo for a right half hard reset)
COMBO(sys_clear_br_profile, &bt BT_CLR,                 RB3 RB4,                          FUN,          SHORT_COMBO_TIMEOUT) // Unpairs from currently active bt profile

// OS features
COMBO(power,               &kp C_POWER,                 RT1 RT2 RT3 RT4,  DEF,                           LONG_COMBO_TIMEOUT) // shutting down