// Key references for custom behaviors using x_keypos.dtsi naming scheme
    
    // Key groups for home row mods and layer-taps
    #define LEFT_SIDE_KEYS LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4
    #define RIGHT_SIDE_KEYS RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
    #define THUMB_KEYS LIT LHT RHT RIT

    // Keys ignored by the swapper for CMD+TAB behavior
    #define SWAPPER_IGNORED_KEYS RT2 RM1 RM2 RM3 RT4 RM4 RB4 // Arrows, BSPC, ENTER and DEL for alt-tab movement and window/app controls

// Timeouts
    #define HOLD_TAP_TERM 280
    #define QUICK_TAP 200
    #define REQUIRE_PRIOR_IDLE 200
    #define TAP_DANCE_TIMEOUT 300

// Media controls
    playnp: play_next_previous_media_key { 
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <TAP_DANCE_TIMEOUT>;
        bindings =
            <&mt C_MUTE C_PLAY_PAUSE>,
            <&kp C_NEXT>,
            <&kp C_PREVIOUS>;
    };
    
    vb_up: volume_brightness_up_on_control {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp C_VOL_UP>, <&kp C_BRI_UP>;

        mods = <(MOD_LCTL)>;
    };

    vb_dn: volume_brightness_down_on_control {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp C_VOL_DN>, <&kp C_BRI_DN>;

        mods = <(MOD_LCTL)>;
    };

// Swapper for Apple's CMD+TAB behavior
    swapper: swapper_for_apple_cmd_tab {
        compatible = "zmk,behavior-tri-state"; // requires tri-state module (https://github.com/urob/zmk-tri-state)
        #binding-cells = <0>;
        bindings = <&kt RGUI>, <&kp TAB>, <&kt RGUI>;

        ignored-key-positions = <SWAPPER_IGNORED_KEYS>;
    };

// Layer-tap to escape from any layer to DEF on tap but still be able to reach the NAV layer on hold, useful for cancelling toggles
    moto: mo_to_layer {
        compatible = "zmk,behavior-hold-tap";
        label = "MTL";
        bindings = <&lc>, <&tc>;
        #binding-cells = <2>;
        flavor = "hold-preferred"; // Will hold on another simultaneous keypress such as mouse movement keys
        tapping-term-ms = <200>; 
    };
    #define NAV_DEF &moto NAV DEF

// Customized hold-tap definitions
    
    hrml: hrml { // urob's home row mods left
        compatible = "zmk,behavior-hold-tap";
        label = "HRML";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        hold-trigger-key-positions = <RIGHT_SIDE_KEYS THUMB_KEYS>;
        flavor = "balanced";
        tapping-term-ms = <TAPPING_TERM>;
        hold-trigger-on-release;
        quick-tap-ms = <QUICK_TAP>;
        require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
    };

    hrmr: hrmr { // urob's home row mods right
        compatible = "zmk,behavior-hold-tap";
        label = "HRMR";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        flavor = "balanced";
        tapping-term-ms = <TAPPING_TERM>;
        hold-trigger-key-positions = <LEFT_SIDE_KEYS THUMB_KEYS>;
        hold-trigger-on-release;
        quick-tap-ms = <QUICK_TAP>;
        require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
    };

// Customized balanced layer-tap

    ltl: better_layer_tap_left { // urob's logic but for a layer-tap on left hand
        compatible = "zmk,behavior-hold-tap";
        label = "LTL";
        bindings = <&lc>, <&kp>;

        #binding-cells = <2>;
        hold-trigger-key-positions = <RIGHT_SIDE_KEYS THUMB_KEYS>;
        flavor = "balanced";
        tapping-term-ms = <TAPPING_TERM>;
        hold-trigger-on-release;
        quick-tap-ms = <QUICK_TAP>;
        require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
    };

    ltr: better_layer_tap_right { // urob's logic but for a layer-tap on right hand
        compatible = "zmk,behavior-hold-tap";
        label = "LTR";
        bindings = <&lc>, <&kp>;

        #binding-cells = <2>;
        hold-trigger-key-positions = <LEFT_SIDE_KEYS THUMB_KEYS>;
        flavor = "balanced";
        tapping-term-ms = <TAPPING_TERM>;
        hold-trigger-on-release;
        quick-tap-ms = <QUICK_TAP>;
        require-prior-idle-ms = <REQUIRE_PRIOR_IDLE>;
    };