reais: reais {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>; // Must be 0
    wait-ms = <20>;
    tap-ms = <15>;
    bindings = 
        <&macro_tap &kp LS(R)>,
        <&macro_tap &kp LS(N4)>,
        <&macro_tap &kp SPACE>;
};

comma00: comma00 {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>; // Must be 0
    wait-ms = <20>;
    tap-ms = <15>;
    bindings = 
        <&macro_tap &kp COMMA>,
        <&macro_tap &kp N0>,
        <&macro_tap &kp N0>;
};

triple0: triple0 {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>; // Must be 0
    wait-ms = <20>;
    tap-ms = <15>;
    bindings = 
        <&macro_tap &kp N0>,
        <&macro_tap &kp N0>,
        <&macro_tap &kp N0>;
};

shifted_punctuation: shifted_punctuation { // Adds a &sk shift after the corresponding dead key
    compatible = "zmk,behavior-macro-one-param";
    label = "shifted_punctuation";
    wait-ms = <0>;
    tap-ms = <0>;
    #binding-cells = <1>;
    bindings =
        <&macro_tap>,
        <&macro_param_1to1>,
        <&kp MACRO_PLACEHOLDER>,
        <&sk LSHFT>;
};

sd_tilde: shift_dead_tilde {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp TILDE>, <&shifted_punctuation TILDE>;

        mods = <(MOD_LSFT)>;
    };

sd_circ: shift_dead_circ {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp CIRC>, <&shifted_punctuation CIRC>;

        mods = <(MOD_LSFT)>;
    };
sd_grave: shift_dead_grave {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp GRAVE>, <&shifted_punctuation GRAVE>;

        mods = <(MOD_LSFT)>;
    };
