#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Layer and key defines to improve readability
#define DEF 0
#define NUM 1
#define NAV 2 
#define SYM 3
#define FUN 4
#define MOU 5 // also great for one-handed use with a mouse on the right hand

#define HYPR LG(LS(LC(LALT))) // shorthand for HYPER key hold-tap on G and H keys

// These includes allow for easier maintenance and readability between different keymaps
#include "features/sweep_keypos.h"                  // Key positions naming scheme for 34 keys keymaps

// Features and customizations (these files are shared with Totem repo)
#include "features/timings.h"                       // Timing definitions for hold-tap and combos
#include "features/core_behaviors_overrides.dtsi"   // Overriding defaults from core behaviors
#include "features/mouse.dtsi"                      // Requires layer defines above since it uses NAV as input processor

/ {
    combos { 
        #include "features/combos.dtsi"
    };
    
    behaviors { 
        #include "features/custom_behaviors.dtsi"
    };

    macros { 
        #include "features/layer_cancel_macros.dtsi"
        #include "features/typing_macros.dtsi"       // Typing macros for common words and phrases
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        
        tri_layer_for_function_and_number_row_keys {
            if-layers = <NAV SYM>;
            then-layer = <FUN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEF {
            bindings = <
  &kp Q          &kp W          &kp E         &kp R         &kp T           &kp Y           &kp U          &kp I           &kp O           &kp P
  &hrml LCTRL A  &hrml LALT S   &shrml LSHFT D &hrml LGUI F &hrml HYPR G    &hrmr HYPR H    &hrmr RGUI J   &shrmr LSHFT K  &hrmr RALT L    &hrmr RCTRL SQT
  &hrml GLOBE Z  &kp X          &ltl NUM C    &ltl MOU V    &kp B           &kp N           &kp M          &kp COMMA       &kp DOT         &kp SEMI
                                              &lc NAV       &kp RSHFT       &kp SPC         &lc SYM
            >;
        };

        NUM {
            bindings = <
  &none     &none       &none       &reais      &none       &kp PLUS    &kp N7  &kp N8  &kp N9  &kp ASTRK
  &sk LCTRL &sk LALT    &sk LSHFT   &sk LGUI    &sk LSHFT   &kp MINUS   &kp N4  &kp N5  &kp N6  &kp SLASH
  &none     &none       &none       &none       &sk LSHFT   &kp COMMA   &kp N1  &kp N2  &kp N3  &kp DOT
                                    &defnav     &trans      &num_spc    &lt SYM N0
            >;
        };

        NAV {
            bindings = <
  &kp TAB         &swapper  &kp LC(LS(TAB)) &kp LC(TAB) &kp LG(RBKT)    &kp PG_UP   &kp HOME  &kp UP    &kp END   &kp BSPC
  &sk LCTRL       &sk LALT  &sk LSHFT       &sk LGUI    &kp LG(LBKT)    &kp PG_DN   &kp LEFT  &kp DOWN  &kp RIGHT &kp RET
  &mt GLOBE LG(Z) &kp LG(X) &kp LG(C)       &kp LG(V)   &kp F18         &playnp     &kp F19   &vb_dn    &vb_up    &kp DEL
                                            &lc NAV     &kp SPC         &trans      &lc SYM
            >;
        };

        SYM {
            bindings = <
  &kp ESC           &kp LBRC   &kp LBKT   &kp LPAR  &kp PRCNT          &kp AMPS  &kp RPAR  &kp RBKT   &kp RBRC  &kp DQT
  &kp MINUS         &kp CARET  &kp GRAVE  &kp TILDE &kp DOLLAR         &kp HASH  &sk RGUI  &sk LSHFT  &sk RALT  &sk RCTRL
  &mt GLOBE PLUS    &kp EQUAL  &kp ASTRK  &kp FSLH  &kp AT             &kp PIPE  &kp BSLH  &kp QMARK  &kp EXCL  &kp COLON
                                          &lc NAV   &mt RSHFT UNDER    &kp UNDER &lc SYM
            >;
        };

        FUN {
            bindings = <
  &kp N1    &kp N2    &kp N3     &kp N4    &kp N5       &kp N6    &kp N7    &kp N8     &kp N9    &kp N0
  &sk LCTRL &sk LALT  &sk LSHFT  &sk LGUI  &kp F11      &kp F12   &sk RGUI  &sk LSHFT  &sk RALT  &sk RCTRL
  &kp F1    &kp F2    &kp F3     &kp F4    &kp F5       &kp F6    &kp F7    &kp F8     &kp F9    &kp F10
                                 &lc NAV   &kp C_POWER  &kp CAPS  &lc SYM
            >;
        };

        MOU {
            bindings = <
  &desktop_quit   &expose_close &kp LC(LS(TAB)) &kp LC(TAB)   &kp LG(RBKT)  &msc SCRL_DOWN  &msc SCRL_RIGHT &mmv MOVE_UP    &msc SCRL_LEFT  &kp BSPC
  &kp LCTRL       &kp LALT      &kp LSHFT       &kp LGUI      &kp LG(LBKT)  &msc SCRL_UP    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT &kp ENTER
  &mt GLOBE LG(Z) &kp LG(X)     &kp LG(C)       &kp LG(V)     &kp F18       &kp LG(LS(N4))  &mkp MCLK       &mkp MB4        &mkp MB5        &to DEF
                                                &defnav       &mt LGUI SPC  &mkp LCLK       &mkp RCLK            
            >;          
        };
    };
};