#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Layer and key defines to improve readability
#define DEF 0
#define NUM 1
#define NAV 2 
#define SYM 3
#define FUN 4
#define MOU 5 // also great for one-handed use with a mouse on the right hand

#define HYPR LG(LS(LC(LALT))) // shorthand for HYPER key hold-tap on G and H keys

// AOE layers
#define AOE 6 // AOE 2 layers with easier access for default shortcuts on main layer
#define AGS 7
#define ABS 8


// These includes allow for easier maintenance and readability between different keymaps
#include "features/sweep_keypos.h"                  // Key positions naming scheme for 34 keys keymaps (useful to make combos and behaviors code interoperable between different keyboards)

// Features and customizations (all these .dtsi files are shared with Totem repo)
#include "features/timings.h"                       // Timing definitions for hold-tap and combos
#include "features/core_behaviors_overrides.dtsi"   // Overriding defaults from core behaviors
#include "features/mouse.dtsi"                      // Requires layer defines above since it uses NAV as input processor

#include "features/num_word.dtsi"                   // Custom behaviors like swapper and desktop quit

/ {
    combos { 
        #include "features/combos.dtsi"
    };
    
    behaviors { 
        #include "features/custom_behaviors.dtsi"
    };

    macros { 
        #include "features/layer_cancel_macros.dtsi"
        #include "features/typing_macros.dtsi"       // Typing macros for common words and phrases
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        
        tri_layer_for_function_and_number_row_keys {
            if-layers = <NAV SYM>;
            then-layer = <FUN>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        DEF {
            bindings = <
  &kp Q          &kp W          &kp E         &kp R         &kp T           &kp Y           &kp U          &kp I           &kp O           &kp P
  &hrml LCTRL A  &hrml LALT S   &shrml LSHFT D &hrml LGUI F &hrml HYPR G    &hrmr HYPR H    &hrmr RGUI J   &shrmr LSHFT K  &hrmr RALT L    &hrmr RCTRL SQT
  &hrml GLOBE Z  &kp X          &ltl NUM C    &ltl MOU V    &kp B           &kp N           &kp M          &kp COMMA       &kp DOT         &kp SEMI
                                              &lc NAV       &kp RSHFT       &kp SPC         &lc SYM
            >;
        };

        NUM {
            bindings = <
  &kp LA(N9) &kp LA(N0) &none       &reais      &kp LA(N6)  &kp PLUS    &kp N7  &kp N8  &kp N9  &kp ASTRK
  &sk LCTRL  &sk LALT   &sk LSHFT   &sk LGUI    &sk LSHFT   &kp MINUS   &kp N4  &kp N5  &kp N6  &kp SLASH
  &none      &none      &none       &triple0    &comma00    &kp COMMA   &kp N1  &kp N2  &kp N3  &kp DOT
                                    NUMNAV      NUMSHIFT    &num_spc    &lt SYM N0
            >;
        };

        NAV {
            bindings = <
  &kp TAB         &swapper  &kp LC(LS(TAB)) &kp LC(TAB)     &kp LG(RBKT)    &kp PG_UP   &kp HOME  &kp UP    &kp END   &kp BSPC
  &sk LCTRL       &sk LALT  &sk LSHFT       &sk LGUI        &kp LG(LBKT)    &kp PG_DN   &kp LEFT  &kp DOWN  &kp RIGHT &kp RET
  &mt GLOBE LG(Z) &kp LG(X) &kp LG(C)       &lt MOU LG(V)   &kp F18         &playnp     &kp F19   &vb_dn    &vb_up    &kp DEL
                                            &tc NAV         &tc NAV         &trans      &trans 
            >;
        };

        SYM {
            bindings = <
  &kp ESC           &kp LBRC   &kp LBKT   &kp LPAR      &kp PRCNT          &kp AMPS  &kp RPAR  &kp RBKT   &kp RBRC  &kp DQT
  &kp MINUS         &kp CARET  &kp GRAVE  &kp TILDE     &kp DOLLAR         &kp HASH  &sk RGUI  &sk LSHFT  &sk RALT  &sk RCTRL
  &mt GLOBE PLUS    &kp EQUAL  &kp ASTRK  &kp FSLH      &kp AT             &kp PIPE  &kp BSLH  &kp QMARK  &kp EXCL  &kp COLON
                                          &lt NAV UNDER &mt RSHFT UNDER    &trans    &trans
            >;
        };

        FUN {
            bindings = <
  &kp N1    &kp N2    &kp N3     &kp N4    &kp N5       &kp N6    &kp N7    &kp N8     &kp N9    &kp N0
  &sk LCTRL &sk LALT  &sk LSHFT  &sk LGUI  &kp F11      &kp F12   &sk RGUI  &sk LSHFT  &sk RALT  &sk RCTRL
  &kp F1    &kp F2    &kp F3     &kp F4    &kp F5       &kp F6    &kp F7    &kp F8     &kp F9    &kp F10
                                 &trans    &kp C_POWER  &kp CAPS  &trans
            >;
        };

        MOU {
            bindings = <
  &desktop_quit   &expose_close &kp LC(LS(TAB)) &kp LC(TAB)   &kp LG(RBKT)  &msc SCRL_DOWN  &msc SCRL_RIGHT &mmv MOVE_UP    &msc SCRL_LEFT  &kp BSPC
  &kp LCTRL       &kp LALT      &kp LSHFT       &kp LGUI      &kp LG(LBKT)  &msc SCRL_UP    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT &kp ENTER
  &mt GLOBE LG(Z) &kp LG(X)     &kp LG(C)       &kp LG(V)     &kp F18       &tc MOU         &mkp MCLK       &mkp MB4        &mkp MB5        &to DEF
                                                &tc MOU       &tc MOU       &mkp LCLK       &mkp RCLK            
            >;          
        };


        AOE {
            bindings = <
  &kp Q        &kp W      &kp E       &kp R        &kp T        &trans  &trans  &trans  &trans  &trans
  &mt LCTRL A  &mt LALT S &mt LSHFT D &mt LCTRL F  &kp G        &trans  &trans  &trans  &trans  &trans
  &kp Z        &kp X      &kp C       &kp V        &lt ABS B    &trans  &trans  &trans  &trans  &trans
                                      &lt AGS H    &lt ABS DOT  &trans  &trans
            >;
        };

        AGS {
            bindings = <
&kp N1        &kp N2       &kp N3       &kp N4        &kp N5     &trans     &trans  &trans  &trans  &kp BSPC
&mt LCTRL N6  &mt LALT N7  &mt LSHFT N8 &mt LCTRL N9  &kp N0     &trans     &trans  &trans  &trans  &kp ENTER
&kp DEL       &none        &none        &kp DOT       &kp COMMA  &kp C_MUTE &trans  &vb_dn  &vb_up  &kp F3
                                        &trans        &kp DEL    &trans     &trans 
            >;
        };

        ABS {
            bindings = <
&kp LC(LS(M))   &kp LC(LS(S))   &kp LC(LS(U))   &kp LC(LS(Y))   &kp LS(COMMA)    &trans  &trans  &trans  &trans  &trans
&kp LC(LS(A))   &kp LC(LS(L))   &kp LC(LS(B))   &kp LC(LS(K))   &kp LS(LC(D))    &trans  &trans  &trans  &trans  &trans
&kp LC(LS(Z))   &kp LC(LS(I))   &kp LC(LS(G))   &kp LC(LS(V))   &kp LC(LS(H))    &trans  &trans  &trans  &trans  &trans
                                                &kp LC(LS(H))   &trans           &trans  &trans
            >;
        };


    };
};