#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Layer and key defines to improve readability
#define DEF  0
#define IPAD 1 // fully transparent so it's DEV but signals to the firmware that the iPad is connected so it should trigger the iPad optimized layer when NAV is active
#define NUM  2
#define NAV  3
#define INAV 4 // iPad optimized layer that uses ` and \ keys for F18 and F19 positions making it easier to trigger shortcuts window management hotkeys on iPadOS
#define SYM  5
#define FUN  6
#define MOU  7 // also great for one-handed use with a mouse on the right hand

#define HYPR LG(LS(LC(LALT))) // shorthand for HYPER key hold-tap on G and H keys

// AOE layers
#define AOE 8 // AOE 2 layers with easier access for default shortcuts on main layer
#define AGS 9
#define ABS 10


// These includes allow for easier maintenance and readability between different keymaps
#include "features/sweep_keypos.h"                  // Key positions naming scheme for 34 keys keymaps (useful to make combos and behaviors code interoperable between different keyboards)

// Features and customizations (all these .dtsi files are shared with Totem repo)
#include "features/timings.h"                       // Timing definitions for hold-tap and combos
#include "features/core_behaviors_overrides.dtsi"   // Overriding defaults from core behaviors
#include "features/mouse.dtsi"                      // Requires layer defines above since it uses NAV as input processor

#include "features/num_word.dtsi"                   // Custom behaviors like swapper and desktop quit

/ {
    combos { 
        #include "features/combos.dtsi"
    };
    
    behaviors { 
        #include "features/custom_behaviors.dtsi"
    };

    macros { 
        #include "features/layer_cancel_macros.dtsi"
        #include "features/typing_macros.dtsi"       // Typing macros for common words and phrases
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        
        tri_layer_for_function_and_number_row_keys {
            if-layers = <NAV SYM>;
            then-layer = <FUN>;
        };

        ipad_nav {
            if-layers = <IPAD NAV>;
            then-layer = <INAV>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        DEF {
            bindings = <
  &kp Q          &kp W          &kp E         &kp R         &kp T           &kp Y           &kp U          &kp I           &kp O           &kp P
  &hrml LCTRL A  &hrml LALT S   &shrml LSHFT D &hrml LGUI F &hrml HYPR G    &hrmr HYPR H    &hrmr RGUI J   &shrmr LSHFT K  &hrmr RALT L    &hrmr RCTRL SQT
  &hrml GLOBE Z  &kp X          &ltl NUM C    &ltl MOU V    &kp B           &kp N           &kp M          &kp COMMA       &kp DOT         &kp SEMI
                                              &lc NAV       &kp RSHFT       &kp SPC         &lc SYM
            >;
        };

        IPAD_DEF { // Same as DEF but used for tri-layer on iPad. It just says it's an iPad
            bindings = <
  &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
  &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
  &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                       &trans &trans &trans &trans
            >;
        };

        NUM {
            bindings = <
  &kp LA(N9) &kp LA(N0) &none       &reais      &kp LA(N6)  &kp PLUS    &kp N7  &kp N8  &kp N9  &kp ASTRK
  &sk LCTRL  &sk LALT   &sk LSHFT   &sk LGUI    &sk LSHFT   &kp MINUS   &kp N4  &kp N5  &kp N6  &kp SLASH
  &none      &none      &none       &triple0    &comma00    &kp COMMA   &kp N1  &kp N2  &kp N3  &kp DOT
                                    &trans      &tc NUM     &num_spc    &lt SYM N0
            >;
        };

        NAV {
            bindings = <
  &kp TAB         &swapper  &kp LC(LS(TAB)) &kp LC(TAB)     &kp LG(RBKT)    &kp PG_UP   &kp HOME  &kp UP    &kp END   &kp BSPC
  &sk LCTRL       &sk LALT  &sk LSHFT       &sk LGUI        &kp LG(LBKT)    &kp PG_DN   &kp LEFT  &kp DOWN  &kp RIGHT &kp RET
  &mt GLOBE LG(Z) &kp LG(X) &kp LG(C)       &lt MOU LG(V)   &kp F18         &playnp     &kp F19   &vb_dn    &vb_up    &kp DEL 
                                            &trans          &tc NAV         &trans      &trans 
            >; // F18 and F19 are here for triggering macros and shortcuts on macOS without interfering with normal usage on other keys
        };
        
        INAV { // Same as NAV but with useful iPad navigation keys for shortctus wiigh GLOBE on otherwise useless F18 and F19
            bindings = <
  &trans &trans &trans &trans &trans        &trans &trans   &trans &trans &trans
  &trans &trans &trans &trans &trans        &trans &trans   &trans &trans &trans
  &trans &trans &trans &trans &fnmod GRAVE  &trans &kp BSLH &trans &trans &trans
                       &trans &trans        &trans &trans
            >;
        };

        SYM {
            bindings = <
  &kp ESC           &kp LBRC   &kp LBKT   &kp LPAR   &kp PRCNT    &kp AMPS  &kp RPAR  &kp RBKT   &kp RBRC  &kp DQT
  &kp MINUS         &sd_caret  &sd_grave  &sd_tilde  &kp DOLLAR   &kp HASH  &sk RGUI  &sk LSHFT  &sk RALT  &sk RCTRL
  &mt GLOBE PLUS    &kp EQUAL  &kp ASTRK  &kp FSLH   &kp AT       &kp PIPE  &kp BSLH  &kp QMARK  &kp EXCL  &mt GLOBE COLON
                                          &trans     &kp UNDER    &sl SYM   &trans
            >;
        };

        FUN {
            bindings = <
  &kp N1    &kp N2    &kp N3     &kp N4    &kp N5       &kp N6    &kp N7    &kp N8     &kp N9    &kp N0
  &sk LCTRL &sk LALT  &sk LSHFT  &sk LGUI  &kp F11      &kp F12   &sk RGUI  &sk LSHFT  &sk RALT  &sk RCTRL
  &kp F1    &kp F2    &kp F3     &kp F4    &kp F5       &kp F6    &kp F7    &kp F8     &kp F9    &kp F10
                                 &trans    &kp C_POWER  &kp CAPS  &trans
            >;
        };

        MOU {
            bindings = <
  &desktop_quit   &expose_close &kp LC(LS(TAB)) &kp LC(TAB)   &kp LG(RBKT)  &msc SCRL_DOWN  &msc SCRL_RIGHT &mmv MOVE_UP    &msc SCRL_LEFT  &kp BSPC
  &kp LCTRL       &kp LALT      &kp LSHFT       &kp LGUI      &kp LG(LBKT)  &msc SCRL_UP    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT &kp ENTER
  &mt GLOBE LG(Z) &kp LG(X)     &kp LG(C)       &kp LG(V)     &kp F18       &tc MOU         &mkp MCLK       &mkp MB4        &mkp MB5        &to DEF
                                                &trans        &tc MOU       &mkp LCLK       &mkp RCLK            
            >;          
        };


        AOE {
            bindings = <
  &kp Q        &kp W      &kp E       &kp R        &kp T        &trans  &trans  &trans  &trans  &trans
  &mt LCTRL A  &mt LALT S &mt LSHFT D &mt LCTRL F  &kp G        &trans  &trans  &trans  &trans  &trans
  &kp Z        &kp X      &kp C       &kp V        &lt ABS B    &trans  &trans  &trans  &trans  &trans
                                      &lt AGS H    &lt ABS DOT  &trans  &trans
            >;
        };

        AGS {
            bindings = <
&kp N1        &kp N2       &kp N3       &kp N4        &kp N5     &trans     &trans  &trans  &trans  &kp BSPC
&mt LCTRL N6  &mt LALT N7  &mt LSHFT N8 &mt LCTRL N9  &kp N0     &trans     &trans  &trans  &trans  &kp ENTER
&kp DEL       &none        &none        &kp DOT       &kp COMMA  &kp C_MUTE &trans  &vb_dn  &vb_up  &kp F3
                                        &trans        &kp DEL    &trans     &trans 
            >;
        };

        ABS {
            bindings = <
&kp LC(LS(M))   &kp LC(LS(S))   &kp LC(LS(U))   &kp LC(LS(Y))   &kp LS(COMMA)    &trans  &trans  &trans  &trans  &trans
&kp LC(LS(A))   &kp LC(LS(L))   &kp LC(LS(B))   &kp LC(LS(K))   &kp LS(LC(D))    &trans  &trans  &trans  &trans  &trans
&kp LC(LS(Z))   &kp LC(LS(I))   &kp LC(LS(G))   &kp LC(LS(V))   &kp LC(LS(H))    &trans  &trans  &trans  &trans  &trans
                                                &kp LC(LS(H))   &trans           &trans  &trans
            >;
        };


    };
};